 .about-heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: url(../images/about.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .about-heading h3{
    font-size: 5rem;
    color:black;
    text-transform: uppercase;
 }
 



 .reviews{
    background-color: #F0FFFA;
 }
 
 .reviews .box-container{
   max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    gap:1.5rem;
    justify-content: center;
 }
 
 .reviews .box-container .box{
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding:2%;
	margin:2%;
 }
 
 .reviews .box-container .box img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
 }
 
 .about .flex{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .about .flex .image{
    flex:1 1 40rem;
 }
 
 .about .flex .image img{
    width: 100%;
 }
 
 .about .flex .content{
    flex:1 1 40rem;
    padding:2rem;
    background-color: var(--light-bg);
 }
 