
.add-products form{
   background-color: #24252A;
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   border:var(--border);
   max-width: 50rem;
   margin:0 auto;
}

.add-products form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   color:white;
   margin-bottom: 1.5rem;
}

.add-products form .box{
   width: 100%;
   background-color: #63646b;
   border-radius: .5rem;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   color:white;
   font-size: 1.8rem;
   border:var(--border);
}








.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: center;
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.show-products{
   padding-top: 0;
}

.show-products .box-container .box{
   text-align: center;
   padding:2rem;
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.show-products .box-container .box img{
   height: 30rem;
}

.show-products .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.show-products .box-container .box .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:var(--red);
}



.edit-product-form{
   min-height: 100vh;
   background-color: rgba(0,0,0,.7);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:2rem;
   overflow-y: scroll;
   position: fixed;
   top:0; left:0; 
   z-index: 1200;
   width: 100%;
}

.edit-product-form form{
   width: 50rem;
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   background-color: var(--white);
}

.edit-product-form form img{
   height: 25rem;
   margin-bottom: 1rem;
}

.edit-product-form form .box{
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   border:var(--border);
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color:var(--black);
   width: 100%;
}



.add-button{
	background-color:whie;
	margin-left:2rem;
   color: #24252A;
   font-size: 3rem;
   padding-left:2rem;
   padding-right:2rem;
   padding-top:1rem;
   padding-bottom:1rem;
   border:1rem pink; 
   border-radius:25%;
	 
 }
 
   .add-button:hover {background-color: #617c8e;}



.delete-button{
	background-color:red;
	margin-left:2rem;
   color:white;
   font-size: 2rem;
   padding-left:2rem;
   padding-right:2rem;
   padding-top:1rem;
   padding-bottom:1rem;
   border:1rem pink; 
   border-radius:25%;
	 
 }
   .delete-button:hover {background-color: #a00e0e;}
 
  .update-button{
	background-color:#24252A;
		margin-right:2rem;
   color:white;
   font-size: 2rem;
   padding-left:2rem;
   padding-right:2rem;
   padding-top:1rem;
   padding-bottom:1rem;
   border:1rem pink; 
   border-radius:25%;
 }
 
    .update-button:hover {background-color: #617c8e;}
