
.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.title{
   font-size: 5rem;
   color:var(--black); 
}

.h1{
  font-size:20%
}

.dashboard .box-container .box{
   border-radius: 2%;
   padding:4%;
   background-color: #313131;
   box-shadow: #313131;
   border:1rem solid black;
   text-align: center;
}



.dashboard .box-container .box h3{
   font-size: 3rem;
   color:white; 
}

.dashboard .box-container .box p{
   margin-top: 1.5rem;
   padding:1.5rem;
   background-color: white;
   color:#313131;
   font-size: 2rem;
   border-radius: 2%;
   border:1rem gray;
}


.dashboardbutton{
	border-radius: 2%;
   padding:4%;
   background-color: #313131;
   box-shadow: #313131;
   border:1rem solid black;
   text-align: center;
	
}

  .box:hover {background-color: #617c8e;}





 .header .header-1{
    background-color: var(--light-bg);
 }
 