
.payments .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
   gap:2.0rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}
.title{
   font-size: 7rem;
   color:var(--black); 
}

.h1{
  font-size:20%
}

.payments .box-container .box{
   padding:4%;

   text-align: center;
   
}

.payments .box-container .box h3{
   font-size: 4rem;
   color:#313131; 
}

.payments .box-container .box p{
	background-color:white;
   color:#313131;
   font-size: 3rem;

}






























html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
}

section{
   padding:3rem 2rem;
}


.users .box-container .box p{
   padding-bottom: 1.5rem;
   font-size: 2rem;
   color:white;
}

.users .box-container .box p span{
   color:white;
}

.users .box-container .box .delete-btn{
   margin-top: 0;
}






















/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      margin:2rem;
      display: block;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

}